<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1 style="color: bisque;">Alya Sometimes Hides Her Feelings in Russian</h1>
    <p>Alya Sometimes Hides Her Feelings in Russian (時々ボソッとロシア語でデレる隣のアーリャさん Tokidoki Bosotto Roshia-go de Dereru Tonari no Alya-san? ), abbreviated as "Roshidere" (ロシデレ? ),<br> is a Japanese light novel series written by SunSunSun and illustrated by Momoco. It has been published by KADOKAWA under its Kadokawa Sneaker Bunko imprint, with the first volume released on <br>February 27, 2021. As of August 30, 2024, a total of nine volumes have been published.</p>
</body>
</html>
